<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/">
          ASKPIRE
      </a>
    </div>
    <ul class="nav">
      <li class="active">
        <a href="/dashboard">
          <span><i class="fa fa-dashboard fa-lg fa-2x"></i></span>
          <p>DASHBOARD</p>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <span><i class="fa fa-user fa-lg fa-2x"></i></span>
          <p>USER PROFILE</p>
        </a>
      </li>
      <li>
        <a href="/schedule">
          <span><i class="fa fa-calendar fa-lg fa-2x"></i></span>
          <p>SCHEDULE</p>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <span><i class="fa fa-bell fa-lg fa-2x"></i></span>
          <p>NOTIFICATIONS</p>
        </a>
      </li>
    </ul>
  </div>
</div>
