{% extends "base.html" %}
{% block navbar %}
<nav class="navbar fixed-top navbar-toggleable-md navbar-light navbar-custom" data-aos="fade">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="#">Our Vision</a>
      <a class="nav-item nav-link" href="/contact">Contact Us</a>
    <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div id="main-content" class="parallax">
  <div class="parallax-layer parallax-layer-background"></div>
  <div class="parallax-layer parallax-layer-content">
    <div class="parallax-content">
      <div class="jumbotron hero">
        <h1 class="display-1">有问必答</h1>
        <p class="lead">Know Willie's Way in to Any College of Your Dreams.</p>
      </div>
      <div class="row text-center">
        <div class="jumbotron section">
          <h1 class="display-4">Section</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="row profile-cards">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="/static/img/pic1.png" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Elijah Ash</h4>
              <p class="card-text">Major: Physics</p>
              <a href="#" class="card-link">See Profile<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="/static/img/pic2.png" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Jasper Gebhardt</h4>
              <p class="card-text">Major: Mechanical Engineering</p>
              <a href="#" class="card-link">See Profile<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="/static/img/pic3.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Liz DiGennero</h4>
              <p class="card-text">Major: International Relations</p>
              <a href="#" class="card-link">See Profile<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-inner">
        <div class="row">
          <div class="col-md-8 footer-left">
            <nav class="nav">
              <a class="nav-link" href="#">Student Profiles</a>
              <a class="nav-link" href="#">Services</a>
              <a class="nav-link" href="#">Our Vision</a>
              <a class="nav-link" href="#">Contact Us</a>
            </nav>
            <div class="copyright">© 2017 Willie's Site</div>
          </div>
          <div class="col-md-4 footer-right">
            <div class="icons">
              <i class="fa fa-lg fa-3x fa-weixin" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
