{% extends "base_services.html" %}
{% block navbar %}
<div id="landing">
  {% include "main_navbar.html" %}
  <div id="parallax-effect">
    <div class="parallax-image" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div id="hero" class="card">
        <div class="jumbotron text-center animated fadeInUp">
          <h1 class="display-5">Interview Prep</h1>
          <p class="lead">
            <a href="/login" class="btn btn-primary btn-lg" href="#" role="button">Try It Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="main-content">
  <section class="section section-white">
    <div class="jumbotron section-panel">
      <div class="row section-text-block">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h4>Improve your Interview Skills with Princeton Students</h4>
          <p>Our Ivy League mentors have all gone through countless rounds of interviews, both with University alumni for their college interviews and with major corporations for internship applications. Students interested in gaining more insight into the interview process and gain feedback from our mentors will have the opportunity to attend a mock interview session.</p>
          <p>Our mentors will simulate the college or internship interview process and ask real interview questions for 40 minutes, followed by a 20-minute feedback session on advice for optimizing the interview based on the mentor’s own experiences. This will include general advice on dress, posture, speech, etc. as well as advice on how to best answer certain questions and how to outline their experiences to match what college look for most in their applicants.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block footer %}
<footer class="footer d-flex align-items-center">
  <nav class="nav">
    <a class="nav-link" href="#">Student Profiles</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Our Vision</a>
    <a class="nav-link" href="#">Contact Us</a>
  </nav>
</footer>
{% endblock %}
