{% extends "base_profiles.html" %}
{% block navbar %}
<div id="landing">
  {% include "main_navbar.html" %}
  <div id="parallax-effect">
    <div class="parallax-image" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div id="hero">
        <div class="jumbotron animated fadeInUp">
          <h1 class="display-4">We are a group of Princeton students ready to help you conquer the top tier application process</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="section section-inverse">

  <div class="row">
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot1.jpg">
        <div class="card-block">
          <h4 class="card-title">Elijah Ash</h4>
          <p class="card-text">Physics and Geoscience</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ACT: 35</li>
          <li class="list-group-item">SAT II Math: 780</li>
          <li class="list-group-item">SAT II US History: 790</li>
          <li class="list-group-item">SAT II Physics: 750</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot2.jpg">
        <div class="card-block">
          <h4 class="card-title">Liz Digennero</h4>
          <p class="card-text">Public Affairs, Politics and Foreign Relations</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ACT: 35</li>
          <li class="list-group-item">SAT II Biology: 750</li>
          <li class="list-group-item">SAT II World History: 730</li>
        </ul>
        <div class="card-block">
          <a href="#profile" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot3.jpg">
        <div class="card-block">
          <h4 class="card-title">Jason Fu</h4>
          <p class="card-text">Financial Engineering, Statistics, and Math</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SAT: 2400</li>
          <li class="list-group-item">SAT II Chemistry: 800</li>
          <li class="list-group-item">SAT II Biology: 800</li>
          <li class="list-group-item">SAT II Math: 800</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot4.jpg">
        <div class="card-block">
          <h4 class="card-title">Jack Burdick</h4>
          <p class="card-text">Geoscience and Tech Entrepreneurship</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ACT 33</li>
          <li class="list-group-item">SAT II Chemistry: 730</li>
          <li class="list-group-item">SAT II Math: 710</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot5.jpg">
        <div class="card-block">
          <h4 class="card-title">Alex Haykel</h4>
          <p class="card-text">Philosophy, Politics and Economics</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SAT: 2180</li>
          <li class="list-group-item">SAT II French: 800</li>
          <li class="list-group-item">SAT II English: 780</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot6.jpg">
        <div class="card-block">
          <h4 class="card-title">Jasper Gebhardt</h4>
          <p class="card-text">Mechanical and Aerospace Engineering</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SAT: 2300</li>
          <li class="list-group-item">SAT II Math: 800</li>
          <li class="list-group-item">SAT II History: 760</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot7.jpg">
        <div class="card-block">
          <h4 class="card-title">Yowan Ramchoreeter</h4>
          <p class="card-text">Operations Research and Financial Engineering</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SAT: 2220</li>
          <li class="list-group-item">SAT II Physics: 800</li>
          <li class="list-group-item">SAT II Math II: 800</li>
          <li class="list-group-item">SAT II French: 800</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot8.jpg">
        <div class="card-block">
          <h4 class="card-title">Yinan Zheng</h4>
          <p class="card-text">Physics</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ACT 33</li>
          <li class="list-group-item">SAT II Chemistry: 730</li>
          <li class="list-group-item">SAT II Math: 710</li>
        </ul>
        <div class="card-block">
          <a href="#yowan" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/static/img/example_headshot9.jpg">
        <div class="card-block">
          <h4 class="card-title">Jack Burdick</h4>
          <p class="card-text">Geoscience and Tech Entrepreneurship</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ACT 33</li>
          <li class="list-group-item">SAT II Chemistry: 730</li>
          <li class="list-group-item">SAT II Math: 710</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
<footer class="footer d-flex align-items-center">
  <nav class="nav">
    <a class="nav-link" href="#">Student Profiles</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Our Vision</a>
    <a class="nav-link" href="#">Contact Us</a>
  </nav>
</footer>
{% endblock %}
