{% extends "base.html" %}
{% block navbar %}

<!--Change Navbar accordingly-->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light navbar-custom navbar-fixed">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="#">Our Vision</a>
      <a class="nav-item nav-link" href="/contact">Contact Us</a>
    <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}

<!--Student Profiles -->
  <div id="profiles">

    <div class="container-fluid">
        <div class="col-md-3">
        <img class="card-img-top" src="/static/img/pic2.png">
        <div class = "profileskeyinfo">
        <h3 class="card-title">Jasper Gebhardt</h3>
        <p class="card-text">SAT: 2350 (99.8 percentile)  <br>Major: Mechanical Engineering</p>
      </div>
        <div class="btn-group" role="group" aria-label="...">
        <button href="jasperg1/" type="button" class="btn btn-default">Detailed Profile</button>
        <button href="jasperg2/"type="button" class="btn btn-default">Schedule a meeting</button>
        </div>
    <!--    <a href="jasperg1/" class="btn btn-primary">Open Detailed Profile</a>
        <a href="jasperg2/" class="btn btn-primary">Schedule a meeting</a> -->
        </div>
        <div class="col-md-9">
          <div class="main-text">
          <p> Jasper is a General Partner at Flybridge Capital Partners whose investment interests and experience broadly
              cover companies and technologies in the information technology sector. He currently represents the firm on the boards of 1-800-FREE411
              (Jingle Networks), MongoDB, First Best Systems, Infobright, Placemark, Reveal Imaging, and Sciformix and was previously a director
              at Bowstreet (acquired by IBM), mValent (acquired by Oracle) and SupplyScape (acquired by TraceLink). Before joining Flybridge
              in May 2002, Chip was a General Partner with Greylock Partners, a leading venture capital firm he joined in 1994. While at
              Greylock, Chip led or participated in numerous successful investments in the enterprise information technology field
              including Narrative Communications (acquired by @Home), Idiom Technologies (acquired by SDL), iPhrase Technologies
              (acquired by IBM), IBA (acquired by ServiceSoft/Kana), Storage Networks (IPO), Totality (acquired by MCI) and the
              Vincam Group (IPO in 1996, acquired by ADP). Prior to Greylock, he was with Company Assistance Limited, an investment
              and consulting firm in Warsaw Poland; and Bain and Company, an international management consulting firm. Chip received
              a BA with honors from Stanford University and an MBA from Harvard Business School where he was a Baker Scholar and a
              Ford Scholar.
          </p>
          </div>
        </div>
      </div>

    <div class="container-fluid">
        <div class="col-md-3">
        <img class="card-img-top" src="/static/img/pic3.jpg">
        <h3 class="card-title">Liz Digennero</h3>
        <p class="card-text">ACT score: 35 <br>Major: International Relationship</p>
        <a href="jasperg1/" class="btn btn-primary">Open Detailed Profile</a>
        <a href="jasperg2/" class="btn btn-primary">Schedule a meeting</a>
        </div>
        <div class="col-md-9">
          <div class="main-text">
          <p> Jasper is a General Partner at Flybridge Capital Partners whose investment interests and experience broadly
              cover companies and technologies in the information technology sector. He currently represents the firm on the boards of 1-800-FREE411
              (Jingle Networks), MongoDB, First Best Systems, Infobright, Placemark, Reveal Imaging, and Sciformix and was previously a director
              at Bowstreet (acquired by IBM), mValent (acquired by Oracle) and SupplyScape (acquired by TraceLink). Before joining Flybridge
              in May 2002, Chip was a General Partner with Greylock Partners, a leading venture capital firm he joined in 1994. While at
              Greylock, Chip led or participated in numerous successful investments in the enterprise information technology field
              including Narrative Communications (acquired by @Home), Idiom Technologies (acquired by SDL), iPhrase Technologies
              (acquired by IBM), IBA (acquired by ServiceSoft/Kana), Storage Networks (IPO), Totality (acquired by MCI) and the
              Vincam Group (IPO in 1996, acquired by ADP). Prior to Greylock, he was with Company Assistance Limited, an investment
              and consulting firm in Warsaw Poland; and Bain and Company, an international management consulting firm. Chip received
              a BA with honors from Stanford University and an MBA from Harvard Business School where he was a Baker Scholar and a
              Ford Scholar.
          </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
        <img class="card-img-top" src="/static/img/pic4.jpg">
        <h3 class="card-title">Liz Digennero</h3>
        <p class="card-text">ACT score: 35 <br>Major: International Relationship</p>
        <a href="jasperg1/" class="btn btn-primary">Open Detailed Profile</a>
        <a href="jasperg2/" class="btn btn-primary">Schedule a meeting</a>
        </div>
        <div class="col-md-9">
          <div class="main-text">
          <
          <p> Jasper is a General Partner at Flybridge Capital Partners whose investment interests and experience broadly
              cover companies and technologies in the information technology sector. He currently represents the firm on the boards of 1-800-FREE411
              (Jingle Networks), MongoDB, First Best Systems, Infobright, Placemark, Reveal Imaging, and Sciformix and was previously a director
              at Bowstreet (acquired by IBM), mValent (acquired by Oracle) and SupplyScape (acquired by TraceLink). Before joining Flybridge
              in May 2002, Chip was a General Partner with Greylock Partners, a leading venture capital firm he joined in 1994. While at
              Greylock, Chip led or participated in numerous successful investments in the enterprise information technology field
              including Narrative Communications (acquired by @Home), Idiom Technologies (acquired by SDL), iPhrase Technologies
              (acquired by IBM), IBA (acquired by ServiceSoft/Kana), Storage Networks (IPO), Totality (acquired by MCI) and the
              Vincam Group (IPO in 1996, acquired by ADP). Prior to Greylock, he was with Company Assistance Limited, an investment
              and consulting firm in Warsaw Poland; and Bain and Company, an international management consulting firm. Chip received
              a BA with honors from Stanford University and an MBA from Harvard Business School where he was a Baker Scholar and a
              Ford Scholar.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block footer %}
{% endblock %}
