{% extends "base_profiles.html" %}
{% block navbar %}
<div id="landing">
  {% include "main_navbar.html" %}
  <div id="parallax-effect">
    <div class="parallax-image" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div id="hero">
        <div class="jumbotron animated fadeInUp">
          <h1 class="display-4">We are a group of Princeton students ready to help you conquer the top tier application process</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="section section-inverse">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="/static/img/sample-main.jpg">
        <div class="card-block">
          <h5 class="card-title">Yowan Ramchoreeter</h5>
          <p class="card-text">Operations Research & Financial Engineering</p>
        </div>
        <div class="card-footer">
          <a href="/yowan" class="card-link">See Details</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</section>
{% endblock %}
{% block footer %}
<footer class="footer d-flex align-items-center">
  <nav class="nav">
    <a class="nav-link" href="#">Student Profiles</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Our Vision</a>
    <a class="nav-link" href="#">Contact Us</a>
  </nav>
</footer>
{% endblock %}
