{% extends "base_services.html" %}
{% block navbar %}
<!--Change Navbar accordingly-->
<nav class="navbar navbar-toggleable-md navbar-light navbar-custom navbar-fixed">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="/vision">Our Vision</a>
      <a class="nav-item nav-link" href="/contact">Contact Us</a>
    <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="title"><h1>咨询平台具体服务范围</h1></div>
  <div class="jumbotron section">
    <h1 class="display-4">一小时应答</h1>
    <p class="lead">美国名校学生以自己的亲身经历详细解答国内学生单项或多项申学问题。
      可以是一对一，也可以一对多人提问。在一个小时的时间，
      国内的学生可以就他们关心的任何未来美国留学问题、
      大学专业选择、大学校园生活以及申请大学中遇到的具体问题,比如标化考试、高中选课、AP选课、
      校内校外课外活动、竞赛、美国夏校、申学文书和面试等国内学生关心的问题提问,
      国内学生每次可以选专项或多项提问，美国名校的学生会以自己亲身经历详细解答。
      请看我们的实例样板。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">模拟申学或实习面试</h1>
    <p class="lead">美国名校的学生根据自己申学时的面试经验模拟招生官或公司面试并给出最佳面试回答的答案。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">修改申学文书</h1>
    <p class="lead">美国名校的学生指导并修改国内学生的文书。
国内学生在完成最后一稿文书的草稿后，美国名校的学生可以针对立意、语法、句式和文笔上指导和修改申学文书。</p>
  </div>
</div>
{% endblock %}
