{% extends "base_services.html" %}
{% block navbar %}
<div id="landing">
  <nav class="navbar navbar-toggleable-md navbar-light navbar-custom">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
        <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
        <a class="nav-item nav-link" href="/services">Services</a>
        <a class="nav-item nav-link" href="#">Our Vision</a>
        <a class="nav-item nav-link" href="/contact">Contact Us</a>
      <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
      </div>
    </div>
  </nav>
  <div id="parallax-effect">
    <div class="parallax-image" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div id="main-title" class="card">
        <div class="card-block">
          <h4 class="card-title">Insider</h4>
          <h6 class="card-subtitle">College Consulting, Reinvented</h6>
        </div>
      </div>
    </div>
    <div id="scroll-button">
      <a href="#main-content"><span></span></a>
    </div>
  </div>
</div>

{% endblock %}
{% block content %}





<div id="services-main">

  <section class="section section-inverse">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbo-main">
          <h1 class="display-5">Insider provides you with all the tools needed to achieve your dreams</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-inverse">
    <div class="row">
      <div class="col-md-3">
        <div class="jumbotron jumbo-main">
          <img class="card-img-top" src="/static/img/essay.svg">
          <h4 class="display-5">AbleTo helps to solve the four key behavioral </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jumbotron jumbo-main">
          <img class="card-img-top" src="/static/img/essay.svg">
          <h4 class="display-5">AbleTo helps to solve the four key behavioral </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jumbotron jumbo-main">
          <img class="card-img-top" src="/static/img/essay.svg">
          <h4 class="display-5">AbleTo helps to solve the four key behavioral </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jumbotron jumbo-main">
          <img class="card-img-top" src="/static/img/essay.svg">
          <h4 class="display-5">AbleTo helps to solve the four key behavioral </h4>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-light">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="display-5">An Integrated Experience</h1>
          <p class="lead">In either a 1-on-1 or group setting, our clients will have the opportunity to ask questions during an hour-long consultation session with an Ivy League student mentor, asking any questions about high school planning, college application, or any other concerns they may have. The typical session involves discussions on standardized testing, high school course selection advice, academic competitions and summer programs, choosing a college major, application essay topics, and interview preparation.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-inverse">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h1 class="display-5">An Integrated Experience</h1>
          <p class="lead">In either a 1-on-1 or group setting, our clients will have the opportunity to ask questions during an hour-long consultation session with an Ivy League student mentor, asking any questions about high school planning.</p>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </section>

  <section class="section section-inverse">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/img/essay.svg">
          <div class="card-block">
            <h4 class="card-title">Essay Editing</h4>
            <p class="card-text">Physics and Geoscience</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ACT: 35</li>
            <li class="list-group-item">SAT II Math: 780</li>
            <li class="list-group-item">SAT II US History: 790</li>
            <li class="list-group-item">SAT II Physics: 750</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/img/videocall.svg">
          <div class="card-block">
            <h4 class="card-title">Video-Conferencing</h4>
            <p class="card-text"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Talk to Princeton Students</li>
            <li class="list-group-item">Bla Bla Bla</li>
            <li class="list-group-item">Bla Bla Bla</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/img/meeting.svg">
          <div class="card-block">
            <h4 class="card-title">Interview Preps</h4>
            <p class="card-text"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">SAT: 2400</li>
            <li class="list-group-item">SAT II Chemistry: 800</li>
            <li class="list-group-item">Bla Bla Bla</li>
            <li class="list-group-item">Bla Bla Bla</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
{% block footer %}
<footer class="footer d-flex align-items-center">
  <nav class="nav">
    <a class="nav-link" href="#">Student Profiles</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Our Vision</a>
    <a class="nav-link" href="#">Contact Us</a>
  </nav>
</footer>
{% endblock %}
