{% extends "base.html" %}
{% block navbar %}
<!--Change Navbar accordingly-->
<nav class="navbar navbar-toggleable-md navbar-light navbar-custom navbar-fixed">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="/vision">Our Vision</a>
      <a class="nav-item nav-link" href="/contact">Contact Us</a>
    <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台的由来</h1>
    <p class="lead">刘威廉是良好交流互动的最大受惠者。
      从六年级开始陆续和多位美国名校的学长们交谈，在八年级就确定了主修经济金融的专业方向。
      同时受学长的激励，在学习和课外活动上自我驱动，不怕辛苦。
      与君一席话胜读十年书，因此深知高人指路的潜在优势，尤其避免了到大学转换专业的弯路。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台的具体操作方式</h1>
    <p class="lead">有问必答咨询平台是用微信或Skype一对一或一对多的交流方式。
      国内的学生预先准备出他们提问的大纲，双方各持一份。
      在一个小时的时间内根据大纲的提示，国内的学生可以就他们所关心的任何问题提问，
      名校学生将根据自己的经历给出回答和进一步的申学建议。
      有问必答服务方向就是激励学生学习的热情并尽早确定未来的专业方向。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台创始人刘威廉</h1>
    <p class="lead">有问必答的创始人刘威廉曾在2015年到贵校和各省前五的十六所省重点高中国际部进行中美文化交流。
      刘威廉所有标化考试成绩满分，在校成绩全优，美国国家奖学金获得者，美国最大的商科竞赛FBLA全美个人冠军，三次入围高尔夫球少年世界杯，钢琴CM十级证书。
      美国学生运行的最大杂志Business Today执行主编。
      大二就得到了纽约华尔街对冲基金实习的机会并应英国名牌杂志《经济学家》纽约分部最高主管的邀请去纽约分部四个星期为杂志撰写文章。</p>
  </div>
</div>
{% endblock %}
