{% extends "base.html" %}
{% block navbar %}
<!--Change Navbar accordingly-->
<nav class="navbar navbar-toggleable-md navbar-light navbar-custom navbar-fixed">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!--  <a class="nav-item nav-link active" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/profiles">Student Profiles</a>
      <a class="nav-item nav-link" href="/services">Services</a>
      <a class="nav-item nav-link" href="/vision">Our Vision</a>
      <a class="nav-item nav-link" href="/contact">Contact Us</a>
    <!--  <a class="nav-item nav-link" href="/login">Login</a> -->
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台简介</h1>
    <p class="lead">有问必答咨询平台是应国内急需解决的标化考试成绩和所申学校不对应、
      难于确定专业方向和如何选择独特的课外活动等申学及实习难题而创立的辅助性平台。
      有问必答意在通过美国名校学生用自己亲身经历针对每一个国内学生的问题量身定做出最适合的个性化答案。
      平台成立的目的是回馈社会，提升国内学生在申学过程中的竞争力。
      平台由美国本科排名第一的普林斯顿大学学生刘威廉携十位普林斯顿大学学生创立。</p>
  </div>
</div>
<div class="row text-center">
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台简介</h1>
    <p class="lead">有问必答咨询平台是应国内急需解决的标化考试成绩和所申学校不对应、
      难于确定专业方向和如何选择独特的课外活动等申学及实习难题而创立的辅助性平台。
      有问必答意在通过美国名校学生用自己亲身经历针对每一个国内学生的问题量身定做出最适合的个性化答案。
      平台成立的目的是回馈社会，提升国内学生在申学过程中的竞争力。
      平台由美国本科排名第一的普林斯顿大学学生刘威廉携十位普林斯顿大学学生创立。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台简介</h1>
    <p class="lead">有问必答咨询平台是应国内急需解决的标化考试成绩和所申学校不对应、
      难于确定专业方向和如何选择独特的课外活动等申学及实习难题而创立的辅助性平台。
      有问必答意在通过美国名校学生用自己亲身经历针对每一个国内学生的问题量身定做出最适合的个性化答案。
      平台成立的目的是回馈社会，提升国内学生在申学过程中的竞争力。
      平台由美国本科排名第一的普林斯顿大学学生刘威廉携十位普林斯顿大学学生创立。</p>
  </div>
  <div class="jumbotron section">
    <h1 class="display-4">咨询平台简介</h1>
    <p class="lead">有问必答咨询平台是应国内急需解决的标化考试成绩和所申学校不对应、
      难于确定专业方向和如何选择独特的课外活动等申学及实习难题而创立的辅助性平台。
      有问必答意在通过美国名校学生用自己亲身经历针对每一个国内学生的问题量身定做出最适合的个性化答案。
      平台成立的目的是回馈社会，提升国内学生在申学过程中的竞争力。
      平台由美国本科排名第一的普林斯顿大学学生刘威廉携十位普林斯顿大学学生创立。</p>
  </div>
</div>
{% endblock %}
