{% extends "base_vision.html" %}
{% block navbar %}
<div id="landing">
  <nav class="navbar navbar-toggleable-md navbar-light navbar-custom">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVICES</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="">Video Conferencing</a>
            <a class="dropdown-item" href="/interview-prep">Interview Prep</a>
            <a class="dropdown-item" href="">Essay Workshop</a>
          </div>
        </div>
        <a class="nav-item nav-link" href="/profiles">TEAM</a>
        <a class="nav-item nav-link" href="/vision">OUR VISION</a>
        <a class="nav-item nav-link" href="/contact">CONTACT</a>
        <a class="nav-item nav-link" href="">LOGIN</a>
      </div>
    </div>
  </nav>
  <div id="parallax-effect">
    <div class="parallax-image" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div id="hero" class="card">
        <div class="jumbotron text-center animated fadeInUp">
          <h1 class="display-5">Begin Your College Journey With Us</h1>
          <p class="lead">
            <a href="#main-content" class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="main-content">
  <section class="section section-white">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="display-5">Background</h1>
          <p class="lead">有问必答 is the solution to navigating the college application process, getting direct answers to the most pressing questions you may have. This platform will allow students from Ivy League Universities to contribute their knowledge and experience from applying to and attending college, directly connecting them to applicants who would like to gain an insider view of higher education in America. The platform was founded and built exclusively by current Princeton University students.</p>
          <p class="lead">
            Starting from middle school, William would visit family friends and talk to several Ivy League college students about the choices that led them to pursue their respective interests. Through this early start, William was able to decide that he was more interested in a career in Economics and Business rather than medicine, leaving the Science Olympiad team that his high school was best known for and instead becoming the president of his high school’s FBLA chapter (Business Club). Through these experiences, William was able to find an optimal major to pursue, allowing him to develop his extra-curricular activities and academics in economics early on, avoiding the difficulties of changing majors later on.
          </p>
          <p class="lead">After speaking at sixteen of China’s top international high schools across 10 cities in 2015 and talking to individual students and administrators there, he discovered that most students were largely undecided on the path they wanted to pursue, aside from attending college in the US. This platform was designed to give the same opportunity to other students who want to learn more about their potential activities, colleges, and majors before committing to these choices.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-gray">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h1 class="display-5">Operations</h1>
          <p class="lead">有问必答currently operates through WeChat and Skype, with a proprietary system coming soon. Once a mentor that best fits your potential major and extra-curricular activities is chosen, students will prepare an outline of question they would like answered to their mentor at least 24 hours before the scheduled discussion. At the time of the discussion, both parties will be linked for a 1 hour discussion, during which the mentor will be able to answer questions and give feedback based off their own experiences. The goal of this platform is to allow students to gain a better understanding of what colleges expect of their applicants, and help students discover the best way to frame their interests and passion into a unique path for high school and college success. </p>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block footer %}
<footer class="footer d-flex align-items-center">
  <nav class="nav">
    <a class="nav-link" href="#">Student Profiles</a>
    <a class="nav-link" href="#">Services</a>
    <a class="nav-link" href="#">Our Vision</a>
    <a class="nav-link" href="#">Contact Us</a>
  </nav>
</footer>
{% endblock %}
