<!--Footer-->
<footer class="page-footer center-on-small-only">
  <div class="container-fluid footer-container">
    <div class="row">
      <hr class="hidden-md-up">
        <div class="col-md-3 offset-md">
        <h5 class="title">About</h5>
          <li><a href="#!">About 有问必答</a></li>
          <li><a href="#!">Our Team</a></li>
          <li><a href="#!">Contact Us</a></li>
        </div>
      </hr>
      <hr class="hidden-md-up">
      <div class="col-md-3">
      <h5 class="title">Our Services</h5>
                    <li><a href="#!">Essay Editing</a></li>
                    <li><a href="#!">Interview Prep</a></li>
                    <li><a href="#!">High-school Planning</a></li>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-3">
                <h5 class="title">Our Vision</h5>
                    <li><a href="#!">Our Background</a></li>
                    <li><a href="#!">Our Operations</a></li>
                    <li><a href="#!">Succes Stories</a></li>
              </div>
              <hr class="hidden-md-up">
              <div class=" col-md-3">
                <h5>Ready to Join Us</h5>
                <a>Contact us today to get started</a>
                <input type="email" class="form-control" id="email" required="" autocomplete="email" placeholder="email" name="email" data-reactid="630">
                <br>
                <a href="" class="btn btn-danger">Sign up!</a>
              </div>
            </div>
          </div>
        <hr width="85%">

    <!--Social buttons-->
    <!--/.Social buttons-->

    <!--Copyright-->

    <div class="social-section">
      <div class="row">
        <div class="col-md-5">
          <nav class="nav">
            <div class="nav-link">© 2017 Copyright: <a href="https://www.askpire.com">Askpire.com</a></div>
          </nav>
        </div>
        <div class="col-md-7 d-flex justify-content-end">
          <nav class="nav">
            <div class="nav-link"><i class="fa fa-weixin fa-2x" aria-hidden="true"></i><a class="characters">WeChat</a></div>
            <div class="nav-link"><i class="fa fa-skype fa-2x" aria-hidden="true"></i><a class="characters">Skype</a></div>
            <div class="nav-link"><i class="fa fa-renren fa-2x" aria-hidden="true"></i><a class="characters">RenRen</a></div>
            <div class="nav-link"><i class="fa fa-weibo fa-2x" aria-hidden="true"></i><a class="characters">Weibo</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
