body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.alert {
  display: none;
  margin-top: 1rem;
}

.col-md {
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.main-panel {
  width: 50%;
  margin: 25% auto;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.2rem #e4e4e4;
}

.inner-panel {
  padding: 2rem 5rem;
}

.inner-panel .jumbotron {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.inner-panel .jumbotron .btn-secondary {
  border: 2px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.inner-panel .jumbotron .btn-secondary:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.inner-panel .jumbotron h1 {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  margin-bottom: 2rem;
}

.bg-blue {
  background-color: #21cff2;
}

form {
  margin-bottom: 0rem;
  font-size: 0.8rem;
}
