body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  font-weight: 200;
  resize: none;
}
/* sidebar */

.sidebar {
  position: fixed;
  width: 16rem;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: #21cff2;
  font-weight: 300;
  overflow: hidden;
}

.sidebar a {
  color: white;
}

.sidebar .logo {
  height: 4rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.sidebar .logo a {
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
}

.sidebar .nav {
  margin-top: 1rem;
  float: none;
  display: block;
}

.sidebar .nav li {
  width: 16rem;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.sidebar .nav li.active a, .sidebar .nav a:hover {
  background: #77e8ff;
  box-shadow: 0px 0px 2px rgba(255,255,255,.15);
}

.sidebar .nav li span {
  float: left;
  margin-right: 0.2rem;
}

.sidebar .nav a {
  position: relative;
  display: block;
  margin: 0rem 0.8rem;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
}

.sidebar .nav p {
  margin-bottom: 0rem;
  margin-left: 3rem;
}

/* navbar */
.navbar {
  position: relative;
  margin-left: 16rem;
  height: 4rem;
}

.navbar-light {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.2rem -0.2rem rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link {
  color: #9a9a9a;
  font-weight: 200;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-toggle:hover {
  color: #21cff2;
  cursor: pointer;
}

.navbar-light .navbar-nav .dropdown-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #9a9a9a;
  font-weight: 300;
}

.navbar-light .btn-secondary {
  color: #9a9a9a;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-light .btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-light .btn-secondary:focus {
  box-shadow: none;
}

.show > .btn-secondary.dropdown-toggle {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  padding: 0.75rem;
}

.btn-primary {
  background-color: #77e8ff;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #21cff2;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Dashboard content */
#content {
  margin-left: 16rem;
  padding: 2rem 1rem;
  background-color: #fafafa;
  min-height: calc(100% - 4rem);
}

#bookingjs {
  margin: 0rem 1rem !important;
}

#events .list-group {
  width: 50%;
  margin: 0 auto;
}

#events .list-group-item {
  padding: 0;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#events .card {
  width: 100%;
}

#events .icon {
  padding-right: 1rem;
}

#events .card-header {
  text-align: center;
  background-color: white;
}

#events .card-block {
  padding: 0.5rem 1.25rem;
}

#events .card-footer {
  background-color: white;
}

#events .call-button {
  width: 100%;
}

#events h4 {
  padding-bottom: 1rem;
}

#events a {
  color: black;
}
/* My Profile */

#my-profile .card {
  box-shadow: 0 0 0.2rem #eeeeee;
  color: #9a9a9a;
  font-weight: 200;
}
#my-profile .card label {
  font-size: 0.7rem;
  text-transform: uppercase;
}

#my-profile .card-header {
  background-color: white;
  border-bottom: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#my-profile .card-title {
  margin-bottom: 0;
  font-weight: 200;
}

#my-profile .row {
  max-width: 100%;
}

#my-profile .form-group input {
  font-weight: 200;
  font-size: 0.9rem;
}

#my-profile textarea::placeholder {
  color: #9a9a9a;
  font-weight: 200;
}

#user-card {
  height: 25rem;
}

#user-card hr {
  margin: 0rem 1rem;
  border-top: 1px solid #e9e9e9;
}

#user-card.card {
  position: relative;
}

#user-card .card-img-top {
  max-width: 100%;
}

#user-card .card-block {
  background-color: white;
  margin-top: -7rem;
  border-bottom: none;
}

#user-card .card-title {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 0rem;
}

#user-card .card-footer {
  height: 2.5rem;
  background-color: white;
  border-top: none;
  text-align: center;
}

#user-card .card-footer span {
  padding: 0rem 1rem;
}

#user-card .profile-pic {
  width: 60%;
  padding: 0rem 0.5rem;
  margin: 0 auto;
  margin-top: -5rem;
}

#user-card .profile-pic img {
  width: 100%;
}

#user-card .border-circle {
  overflow: hidden;
  border-radius: 50%;
  border: 0.3rem solid #e9e9e9;
  background: white;
}

/* Schedule */

#consultant-directory .row {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

#consultant-directory .col-sm {
  padding: 0;
}

#consultant-directory a {
  color: #9a9a9a;
}

#consultant-directory a:hover {
  color: #909090;
}

#consultant-directory .card {
  width: 100%;
}

#consultant-directory .card:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

#consultant-directory .card-img-top {
  max-width: 100%;
}

#consultant-directory .card-block {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#consultant-directory .card-title {
  font-size: 1rem;
  margin-bottom: 0rem;
}

#consultant-directory .card-link {
  font-size: 0.8rem;
}

/* booking-js overrides */

.fc-event {
  border-left-color: #21cff2 !important;
}

.fc-event:hover {
  background-color: #21cff2 !important;
}

.bookingjs-form-button {
  background-color: #77e8ff !important;
}

.bookingjs-form-button:hover {
  background-color: #21cff2 !important;
}

.bookingjs-bookpage-time {
  margin-bottom: 10px !important;
}
