/* footer */

.footer {
  height: 20rem;
  background: #3c6d9e;
  color: white;
}

.footer-inner {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.footer-inner .row {
  height: 100%;
}

.col-md-8 {
  padding: 0;
}

.col-md-4 {
  padding: 0;
}

.footer-left {
  position: relative;
}

.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer .nav-link {
  padding-left: 0;
  padding-right: 3rem;
  color: white;
}

.footer-right .icons {
  padding-top: 1rem;
}
