body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3c6d9e;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

h4 {
  color: black;
}

/* Bootstrap Overrides */

.navbar {
  z-index: 1000;
  padding: 0;
  border-bottom: 1px;
  border-bottom-color: black;

}

.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
  font-weight: 200;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #f4f4f4;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-nav {
  padding-right: 1rem;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}


.blockquote p, .blockquote-reverse p {
  font-size: 1.2rem;
}

.blockquote-footer {
  font-size: 1rem;
}

/* navbar */

.navbar-custom {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: transparent;
   box-shadow: 0 2px 2px -2px gray;
}

.scroll {
  position: fixed;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.scroll .navbar-brand {
  color: black;
}

.scroll .navbar-nav .nav-link {
  color: black;
  padding-left: 1rem;
}

.scroll .navbar-nav .nav-link:hover {
  color: black;
  border-bottom: 3px solid black;
}

/* index */

.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 5rem;
}

#parallax-effect {
  height: 100%;
}

#parallax-effect .parallax-image {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../img/Whitman_1.jpg");
  background-size:cover;
  width: 100%;
  height: 100%;
  position: relative;
}

/* custom layout */

.section {
  color: #444444;
  padding: 5rem;
  margin-bottom: 1rem;
}

.section-white {
  background-color: white;
}

.section-gray {
  background-color: #fafafa;
}

.section h1 {
  font-weight: 300;
}

.p-10 {
  margin-bottom: 10rem;
}

/* footer */

.footer {
  height: 10rem;
  background: #3c6d9e;
  color: white;
  padding: 2rem;
}

.footer .nav-link {
  padding-left: 0;
  padding-right: 3rem;
  color: white;
}

.footer-right .icons {
  padding-top: 1rem;
}
