.card {
  text-align: center;
  border: 1px solid #21cff2;
}

.card img {
  max-width: 100%;
}

.card-block {
  padding-left: 0;
  padding-right: 0;
}

.card-footer {
  background-color: white;
}

/* parallax */

#parallax-effect {
  height: 80%;
}

#parallax-effect .parallax-image {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../img/gate.jpg");
  background-size:cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#hero .jumbotron {
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#hero .jumbotron h1 {
  font-size: 3rem;
}
