.card {
  text-align: center;
}

.card img {
  max-width: 100%;
}

.card-block {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
